# Traefik Helm Chart Values
# Reference: https://github.com/traefik/traefik-helm-chart

# Deployment configuration
deployment:
  kind: DaemonSet
  # replicas is ignored for DaemonSet

# Service configuration
service:
  #type: LoadBalancer
  type: NodePort  # Uncomment for NodePort

# Ports configuration
ports:
  web:
    port: 8000
    expose:
      default: true
    exposedPort: 80
    nodePort: 30080
    protocol: TCP
    forwardedHeaders:
      insecure: true
  websecure:
    port: 8443
    expose:
      default: true
    exposedPort: 443
    nodePort: 30443
    protocol: TCP
    tls:
      enabled: true
    forwardedHeaders:
      insecure: true
  traefik:
    port: 8080
    expose:
      default: false
    exposedPort: 9000
    protocol: TCP
  metrics:
    port: 9100
    expose:
      default: false
    exposedPort: 9100
    protocol: TCP

# IngressRoute for dashboard
ingressRoute:
  dashboard:
    enabled: true
    # matchRule: Host(`traefik.example.com`)
    # entryPoints: ["websecure"]

# Enable dashboard
api:
  dashboard: true
  insecure: true

# Metrics
metrics:
  prometheus:
    enabled: true
    entryPoint: metrics

# Ping
ping:
  enabled: true

# Logs
logs:
  general:
    level: DEBUG
  access:
    enabled: true

# Additional arguments
additionalArguments:
  - --providers.file.filename=/config/traefik.toml
  - --serverstransport.insecureskipverify=true
  - --serverstransport.rootcas=/ssl/cacert.crt

# TLS configuration
tlsStore:
  default:
    defaultCertificate:
      secretName: "kitetsu-tls"  # Add your default certificate secret here

# Resource limits
resources: {}
  # requests:
  #   cpu: "100m"
  #   memory: "128Mi"
  # limits:
  #   cpu: "1000m"
  #   memory: "512Mi"

# Persistence for SSL certificates
persistence:
  enabled: false
  # storageClass: ""
  # accessMode: ReadWriteOnce
  # size: 128Mi
  # path: /data

# Volume mounts for custom config and SSL certificates
volumes:
  - name: ssl-certs
    mountPath: /ssl
    type: secret
    secretName: kitetsu-tls
  - name: config
    mountPath: /config
    type: configMap
    configMapName: traefik-conf  # Create a configMap with traefik.toml

# Enable RBAC
rbac:
  enabled: true

# Service Account
serviceAccount:
  create: true
  name: ""

# Pod Security Context
securityContext:
  capabilities:
    drop: [ALL]
  readOnlyRootFilesystem: true
  runAsGroup: 65532
  runAsNonRoot: true
  runAsUser: 65532

# Providers
providers:
  kubernetesCRD:
    enabled: true
    allowCrossNamespace: true
  kubernetesIngress:
    enabled: false
  kubernetesGateway:
    enabled: true

# Gateway API configuration
gateway:
  enabled: true
