apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Reference to base configuration
resources:
  - ../../base
  - ingressroute.yaml

# Patches for staging environment
patches:
  - path: values-staging.yaml
    target:
      kind: HelmRelease
      name: vault
