apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: cert-manager
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
  labels:
    app.kubernetes.io/name: cert-manager
    app.kubernetes.io/part-of: infrastructure
spec:
  project: default
  
  source:
    repoURL: https://github.com/learningcurve2k26-lang/k8s-manifests
    targetRevision: main
    path: cert-manager/overlays/staging
    plugin:
      name: argocd-vault-plugin-kustomize-helm

  destination:
    server: https://kubernetes.default.svc
    namespace: cert-manager

  syncPolicy:
    automated:
      prune: false
      selfHeal: false
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true

