apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  
  source:
    repoURL: https://github.com/learningcurve2k26-lang/k8s-manifests  # Update with your repo URL
    targetRevision: main  # or master, depending on your default branch
    path: traefik/overlays/staging
    plugin:
      name: argocd-vault-plugin-kustomize-helm
    
    # Enable Kustomize with Helm support

  destination:
    server: https://kubernetes.default.svc
    namespace: traefik

  syncPolicy:
    automated:
      prune: false
      selfHeal: false
      allowEmpty: false
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true